<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
  </head>

  

  <header>
    <h1>Music App</h1>
    <nav>
      <% if logged_in? %>
          <p>Hi <%= current_user.email %></p>
        <logged-in>
          <form method="post" action="<%= session_url %>">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="Delete">
            <input value="Log Out" type="submit" id="button"/>
          </form>
        </logged-in>
      <% else %>
        <logged-out>
          <a href="<%= new_session_url %>">Sign In</a>
          <a href="<%= new_user_url %>">Sign Up</a>
        </logged-out>
      <% end %>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
