<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><a href="<%=cats_url%>">99Cats</a></h1>
      <ul>
        <li><a href="<%=new_cat_url%>">New Cat</a></li>
      </ul>
    </header>
    <main>
    
      <%= yield %>
    
    </main>
  </body>
</html>
