<h1>Say hi to 😻<%= @cat.name %>😻</h1>

<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <th>Age</th>
        <th><%= @cat.age %></th>
    </tr>
    <tr>
        <th>Birth Date</th>
        <th><%= @cat.birth_date %></th>
    </tr>
    <tr>
        <th>Color</th>
        <th><%= @cat.color %></th>
    </tr>
    <tr>
        <th>Sex</th>
        <th><%= @cat.sex %></th>
    </tr>
</table>
    

<button><a href=" <%= edit_cat_url(@cat) %> ">Edit Cat🙀</a></button>
<button><a href=" <%= cats_url %> ">All 😸's</a></button>
